#footer {
	margin-bottom: 50px;

    .navbar-text {
        font-weight: 300;
    }

    .iconic {
        font-size: 18px;

        > li {
            @include inline-block(true);
        }

        .navbar-text {
            font-size: 14px;
        }
    }
}

