// Jumbotron

#panorama {
    position: fixed;
    top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #333 url('../images/pentagone_bg.png') repeat center;
    z-index: 0;

    img {
        display: block;
        width: 100%;
        margin: auto;
    }

    a {
        color: $blue;
        &:hover {
            color: white;
        }
    }
}


// Content

#page {
    position: relative;

    > .content {
        padding-bottom: 120px;
        background-color: #fff;
        background: #fff url('../images/furley_bg.png') repeat center;
        @include box-shadow(0,0,20px,rgba(0,0,0,0.5));
    }
}

.hidden-head {
    opacity: 0;
    background-color: transparent;

    img {
        display: block;
        width: 100%;
    }
}


// Title

.title {
    h1 {
        margin: 40px auto 0;
        font-size: 55px;
        font-weight: 300;
        line-height: 1em;
        letter-spacing: -1px;
        text-align: center;
    }
}

// Bubbles section

.bubbles {
    margin: 50px auto;
    text-align: center;

    .bubble-item {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .pic {
            @include inline-block();
            width: 70px;
            height: 70px;
            padding: 15px;
            border-radius: 50%;
            background-color: lighten(#5bc0de, 5%);
            @include box-shadow(0,1px,5px,rgba(0,0,0,0.3),inset);
            @include transition(all,0.5s);
            font-size: 40px;
            line-height: 1em;
            color: white;
            text: {
                align: center;
                shadow: 0 1px 2px rgba(0,0,0,0.3);
            }

            > i {
                @include transition();
            }
        }

        &:hover {
            .pic {
                // @include transform(rotate(360deg));

                > i {
                    @include transform(scale(1.6,1.6));                
                }
            }
        }

        p {
            max-width: 80%;
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
}


// Features sections

.about {
    p {
        text-align: justify;
    }

    .logo {
        display: block;
        margin: 0 auto 30px;
    }

    .iconic {
        text-align: center;
        i {
            margin: 0 20px;
        }
    }
}

.feature-divider {
    margin: 60px 0;

    &:first-of-type {
        margin-top: 50px;
    }
}

.feature-heading {
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -1px;

    &.no-space {
        margin-top: 0;
    }
}


// Contact

.buttons > * {
    vertical-align: top;
}


// Carousels

#screen-car {
    border: 7px solid #fff;
    @include box-shadow(0,5px,10px,rgba(0,0,0,0.25));

    .item > img {
        width: 100%;
    }
}


// Media queries

@media (max-width: 460px) {
    h1, h2 {
        font-size: 20px;
    }
    .title h1 {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    .feature-heading {
       font-size: 42px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .feature-heading {
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #screen-car {
        margin-top: 70px;
    }
    .contact figure {
        margin-top: 40px;
    }
}

